node_modules
.env
.serverless
tsconfig.tsbuildinfo

# Terraform
terraform.tfstate*
**/.terraform
**/terraform.auto.tfvars.json
**/*.tfstate*
_infrastructure/localstack/.terraform.lock.hcl

# IDE
.idea
