name: Deploy Changed Sources to Staging

on:
  push:
    branches:
      - main
    paths:
      - 'sources/*.json'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Fetch main branch
        run: git fetch origin main:main

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Deploy Changed Sources to Staging
        run: npm run deploy-map-data-by-sources
        env:
          API_URL: "https://stg.dndbeyond.com/games/api"
          BEARER_TOKEN: "1234567890"
